* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-image: url('');
    background-size: cover;
    background-position: center;
}

/* changer la taille du text*/

li {
    list-style: none;
}
.logo {
    color: aqua;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/*Changer la couleur d'inspecter les boutons*/
a:hover {
    color: rgb(255, 139, 24);
}

/*Changer la couleur de la nav bar*/
header {
    position: relative;
    padding: 0 2rem;
    background-color: rgb(66, 66, 66) ;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*Changer la couleur d'inspecter le bouton CELINE RENOU LOGO*/
.navbar .logo :hover {
    color: #fff
}

.navbar .logo {
    flex: 1;
    display: flex;
}

/*Couleur du celine renou logo nav bar*/
.navbar .logo a {
    font-size: 1;
    font-weight: bold;
}

.navbar .links {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 2rem;
    min-width: 450px;
}

/*Changer la couleur du burger menu + croix*/

.navbar .burger-menu-button {
    color:rgb(0, 0, 0); 
    font-size: 1.5rem;
    cursor:pointer;
    display: none;

}

.buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.action-button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.action-button:hover {
    color: #fff;
    border: 1px solid #fff;
}

/* Couleur du text contactez moi*/
.connect {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.connect:hover {
    background-color: #fff;
    color: #000000;
}

.pro {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.pro:hover {
    background-color: #fff;
    color: #120d31;
}

/* ----- BURGER MENU ----- */

.burger-menu {
    display: none;
    height: 0;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background-color: rgb(66, 66, 66);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.burger-menu.open {
    height: 310px;
}

.burger-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    height: 1px;
    background-color: #ffffff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.burger-menu .action-button {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* ------ RESPONSIVE ------ */

@media (max-width: 990px) {
    header {
        background: none;
    }

    .navbar .buttons {
        display: none;
    }

    .navbar .links,
    .navbar .action-button {
        display: none;
    }

    .navbar .burger-menu-button {
        display: block;
    }

    .burger-menu {
        display: block;
    }
}

@media (max-width: 576px) {
    
    .burger-menu {
        left: 2rem;
        width: unset;
    }
}

.title-container-desk {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
  }
.text-container-desk {
    margin: 0 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2, h4 {
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}

/* footer */
footer {
    background-color: rgb(66, 66, 66);
    color: #fff;
    padding: 52px 0;
    text-align: center;
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #ccc;
  }

  footer .copyright {
    border-top: 1px solid #fff;
    padding: 10px 0;
    text-align: center;
  }